CreateEditEpisode {
    align: center middle;
    background: $background 80%;

    Input {
        border: round $foreground-darken-3;
        background: transparent;
        &:focus {
            border-title-color: $primary;
            border: round $primary;
        }
    }

    .adjust {
        height: 5;
    }

    .main_title {
        height: 3;
    }

    .compact_input {
        min-width: 20;
    }

    .compact_line {
        height: 2;
        margin-bottom: 1;
    }

    Collapsible {
        height: auto;
        margin-left: 1;
        margin-right: 1;
        padding-bottom: 1;
        border: none;
        border-top: outer $foreground-darken-3;
        background: $surface-lighten-1;

        &:focus-within {
            border-top: outer $accent;
        }
        TextArea {
            padding: 0;
            height: auto;
            max-height: 10
        }
    }
}

WriteNoteModal {
    align: center middle;
    background: $background 80%;

    #wrapper {
        max-width: 100;
        max-height: 20;
        /*border: thick $accent 100%;
        background: $surface;*/
    }

    .no_height_limit {
        max-height: initial !important;

        TextArea {
            height: 100%;
        }

        .adjust {
            height: 5;
        }
    }
}

AssignTemplate {
    align: center middle;
    background: $background 80%;

    .generic_modal_main {
        .adjust {
            height: 5;
        }

        OptionList {
            height: 100%;
        }

        Label {
            background: $panel;
            margin-bottom: 1;
            margin-left: 3;
        }
    }

}