EpisodeScreen {
    DataTable {

        border: none;
        border-top: outer $panel;
        border-title-align: left;
        border-title-color: $foreground-darken-3;
        border-left: outer $panel;
        border-right: outer $panel;
        border-bottom: heavy $primary;
        /*I dont know why, but the design here is fucked, but with a bottom border, everything is good*/
        &:focus {
          padding: 0;
          border-left: outer $accent;
          border-right: outer $accent;
          border-top: outer $accent;
      }
    }

    Tree {
        border: none;
        border-top: outer $panel;
        border-title-align: left;
        border-title-color: $foreground-darken-3;
        border-left: outer $panel;
        border-right: outer $panel;
        min-width: 32;
        max-width: 48;
        &:focus {
          padding: 0;
          border-left: outer $accent;
          border-right: outer $accent;
          border-top: outer $accent;
        }
    }

    MarkdownViewer {
        border: none;
        border-left: outer $panel;
        &:focus {
          border-left: outer $accent-lighten-3;
      }
    }

    TabbedContent {
        height: 100%;
    }

    TabPane {
    }

    .project_label_above_tabbed {
        margin-left: 3;
        text-style: bold;
    }

}