EpisodeScreen {
    DataTable {
        border: none;
        border-top: outer $panel;
        border-title-align: left;
        border-title-color: $foreground-darken-3;
        border-left: outer $panel;
        border-right: outer $panel;
        &:focus {
          padding: 0;
          border-left: outer $accent;
          border-right: outer $accent;
          border-top: outer $accent;
      }
    }

    Tree {
        border: none;
        border-top: outer $panel;
        border-title-align: left;
        border-title-color: $foreground-darken-3;
        border-left: outer $panel;
        border-right: outer $panel;
        width: 1fr;
        min-width: 32;
        &:focus {
          padding: 0;
          border-left: outer $accent;
          border-right: outer $accent;
          border-top: outer $accent;
        }
    }

    MarkdownViewer {
        border: none;
        border-left: outer $panel;
        &:focus {
          border-left: outer $accent-lighten-3;
      }
    }

    TabbedContent {
        align-horizontal: right;
        width: 3fr;
    }

    TabPane {
    }

}